<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:cxf="http://camel.apache.org/schema/cxf"
       xmlns:ccs="http://pensionsoft.ru/schemas/rostelecom/ccstest/"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/jee
           http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
           http://camel.apache.org/schema/spring
           http://camel.apache.org/schema/spring/camel-spring.xsd
           http://camel.apache.org/schema/cxf
           http://camel.apache.org/schema/cxf/camel-cxf.xsd
           http://pensionsoft.ru/schemas/rostelecom/ccstest/
           http://pensionsoft.ru/schemas/rostelecom/ccstest/ccstest-1.0.xsd">

    <!-- spring -->
    <context:component-scan base-package="ru.pensionsoft.rostelecom.ccstest.gateway" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <!-- JMS-->
    <import resource="classpath:META-INF/ccstest/jms-ctx.xml"/>

    <!-- JAXB -->
    <import resource="classpath:META-INF/ccstest/jaxb-ctx.xml"/>

    <!-- cxf -->
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
    <cxf:cxfEndpoint id="customerCurrentBalanceEndpoint"
                     address="/CustomerCurrentBalanceService"
                     serviceClass="ru.pensionsoft.schemas.rostelecom.ccstest.CustomerCurrentBalancePortType"
                     serviceName="ccs:CustomerCurrentBalanceService"
                     wsdlURL="classpath:/wsdl/ccstest.wsdl"/>
    <bean id="inputMessageContentListTransformer" class="ru.pensionsoft.rostelecom.ccstest.common.InputMessageContentListTransformer"/>
    <bean id="outputMessageContentListTransformer" class="ru.pensionsoft.rostelecom.ccstest.common.OutputMessageContentListTransformer"/>

    <!-- Camel -->
    <!-- components -->
    <bean id="jsonHeaderAggregationStrategy" class="ru.pensionsoft.rostelecom.ccstest.common.JsonHeaderAggregationStrategy">
        <constructor-arg value="ccstest_roles"/>
    </bean>
    <jee:remote-slsb id="externalAuthorizationService"
                     business-interface="ru.pensionsoft.rostelecom.ccstest.ext.auth.ExternalAuthorizationService"
                     jndi-name="externalAuthorizationService#ru.pensionsoft.rostelecom.ccstest.ext.auth.ExternalAuthorizationService"/>

    <!-- route -->
    <camelContext id="camel" xmlns="http://camel.apache.org/schema/spring">
        <route handleFault="true">
            <!-- receive WS message -->
            <from uri="cxf:bean:customerCurrentBalanceEndpoint"/>
            <bean ref="inputMessageContentListTransformer"/>
            <!-- header enrichment from content -->
            <setHeader headerName="ccstest_systemId"><simple>${body.context.systemId}</simple></setHeader>
            <setHeader headerName="ccstest_userLogin"><simple>${body.context.userLogin}</simple></setHeader>
            <setHeader headerName="ccstest_content">
                <javaScript>(function() {
                    if(request.body.customerEntityId) return 'customer'
                    if(request.body.personalAccountEntityId) return 'personal_account'
                    return 'UNKNOWN'
                })()</javaScript>
            </setHeader>
            <!-- authorization enrichment -->
            <enrich uri="bean:externalAuthorizationService?method=roles(${header.ccstest_systemId},${header.ccstest_userLogin})"
                    strategyRef="jsonHeaderAggregationStrategy"/>
            <!-- content (header) based routing -->
            <choice>
                <when>
                    <simple>${headers[ccstest_content]} == 'customer'</simple>
                    <marshal ref="jaxbInputFormat"/>
                    <!-- send to remote adapter synchronously -->
                    <inOut uri="jms:jms/customerQueue"/>
                    <unmarshal ref="jaxbOutputFormat"/>
                </when>
                <when>
                    <simple>${headers[ccstest_content]} == 'personal_account'</simple>
                    <marshal ref="jaxbInputFormat"/>
                    <!-- send to remote adapter synchronously -->
                    <inOut uri="jms:jms/personalAccountQueue"/>
                    <unmarshal ref="jaxbOutputFormat"/>
                </when>
                <otherwise>
                    <setFaultBody>
                        <simple>Cannot find rout for message: ${body}</simple>
                    </setFaultBody>
                </otherwise>
            </choice>
            <bean ref="outputMessageContentListTransformer"/>
        </route>
    </camelContext>

</beans>