<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:cm="http://camel.apache.org/schema/spring"
       xmlns:cxf="http://camel.apache.org/schema/cxf"
       xmlns:foo="http://pensionsoft.ru/schemas/rostelecom/ccstest/"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/jee
           http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
           http://camel.apache.org/schema/spring
           http://camel.apache.org/schema/spring/camel-spring.xsd
           http://camel.apache.org/schema/cxf
           http://camel.apache.org/schema/cxf/camel-cxf.xsd">

    <!-- spring config -->
    <context:component-scan base-package="ru.pensionsoft.rostelecom.ccstest.gateway" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <!-- cxf config -->
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <cxf:cxfEndpoint id="customerCurrentBalanceEndpoint"
                     address="/CustomerCurrentBalanceService"
                     serviceClass="ru.pensionsoft.schemas.rostelecom.ccstest.CustomerCurrentBalancePortType"
                     serviceName="foo:CustomerCurrentBalanceService"
                     wsdlURL="classpath:/wsdl/ccstest.wsdl"/>

    <!-- camel config -->
    <jee:jndi-lookup id="jmsConnectionFactory" jndi-name="weblogic.examples.ejb30.QueueConnectionFactory" />

    <cm:camelContext id="camel">
        <cm:routeBuilder ref="wsRouteBuilder"/>
    </cm:camelContext>
    <bean id="jms" class="org.apache.camel.component.jms.JmsComponent">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="destinationResolver" ref="jmsDestinationResolver" />
    </bean>
    <bean id="jmsDestinationResolver" class="org.springframework.jms.support.destination.JndiDestinationResolver">
        <property name="jndiTemplate">
            <bean class="org.springframework.jndi.JndiTemplate"/>
        </property>
    </bean>

</beans>